/* Added new background colors and image aligment for lasagna picture */
img{
    margin: 20px 500px;
    width: 800px;
}

h1{
    color: black(253, 34, 5);
    background-color: white;
    font-weight: 800;
    text-align: center;
    margin: auto;
    width: 600px;

}

body{
    background-color: black;
}

p{
    color: white;
    font-family: 'sans-serif', 'serif', 'Times New Roman';
}

ul {
    color: white;
}

ol {
    color: white;
}

