img{
    margin-left: 400px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    color:black;
    background-color: white;

}

body{
    background-color: black;
}

p{
    color: white;
}

ul {
    color: white;
}

ol {
    color: white;
}