
h1{
    font-family: serif 'Times New Roman', sans-serif;
    color: black(253, 34, 5);
    background-color: white;
    font-weight: 800;
    text-align: center;
    margin: 20px auto;
    width: 600px;
}

body{
    font-family: 'serif' , 'Arial', 'sans-serif';
    font-size: 24px;
    background-color: black;
}

a {
    color: white;
    box-sizing: border-box;
    width: 300px;
    margin: 20px 600px; 
}

